@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  /*margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  font-family: "Montserrat", sans-serif;
}

body {
  /*margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.primaryNav {
  width: 100%;
  display: flex;
  gap: 20px;
  background-color: #333;
  z-index: 9999;
  justify-content: center;
  text-align: center;
}
.primaryNav a:hover {
  background-color: #ffffff40;
}
nav a {
  z-index: 9999;
  color: #fcfcfc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav.opt {
  position: relative;
  margin: 20% auto;
  padding: 16px 32px;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

nav.opt > a {
  border-radius: 100px;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

nav.opt > a:hover {
  background-color: #f0f0f0;
}
/*nav a.active{
  text-decoration: none;
  font-weight: bold;
}*/

.home {
  text-align: center;
  height: auto;
}

.centered-image {
  margin: -60px auto 5px;
  display: block;
  width: 40%;
  height: auto;
}

.button-home {
  background-color: #333;
  color: white;
  margin: 10px auto;
  display: block;
  padding: 16px 32px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}
.button-home:hover {
  background-color: #33333395;
}
.button-backhome {
  background-color: #333;
  color: white;
  margin: -100px auto 130px;
  display: block;
  padding: 16px 32px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}
.center-text {
  margin-top: -100px;
  color: #333;
}

.home-title {
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}

.main-div {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  height: auto;
  background-color: #f4f4f4;
  padding: 50px 0;
  gap: 20px;
}

.button-suivant {
  background-color: #333;
  color: white;
  margin: 0;
  width: fit-content;
  display: block;
  padding: 16px 32px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.flex-horz {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}
